/* body {
    background: #eee;
}

.cards {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: orange;
    border: none;
    color: #fff;
    height: fit-content;
    /* display: flex; 
    position: relative;
    align-items: center;
    justify-content: center;
}

.containers {
    height: 100vh;
}

.cards h1 {
    font-size: 48px;
    margin-bottom: 0px;
}

.cards span {
    font-size: 28px;
}

.image {
    position: absolute;
    opacity: .1;
    left: 0;
    top: 0;
}

.image2 {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .1;
} */
/* body{background-color: #eee}.card{border:none;position: relative}.off{font-size: 60px;margin-top: -16px !important;color: blue}.flat{font-size: 20px}.star{margin-top: 25px !important;font-size: 28px}.line{padding-right: 8rem!important;padding-left: 8rem!important}.line hr{height: 2px} */