* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.home {
  width: 100%;
  height: 100vh;
  background-color: #04292e;
  color: #fff;
  padding-top: 100px;
}

.wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(46, 40, 40, 0.9);
  overflow-y: hidden;
}

.modal {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  display: block;
  max-width: 25rem;
  height: 25rem;
  transition: .5s ease;
}

.heart {
  float: right;
  position: absolute;
  right: -10px;
  bottom: -12px;
  z-index: 1000;
  font-weight: bold;
}

.home h1 {
  font-size: 45px;
}

.home h1 span {
  color: rgb(7, 170, 7);
  font-weight: 600;
}

.home p {
  font-size: 25px;
}

.btn {
  padding: 10px 30px;
  font-weight: 600;
  /* border-radius: 0 !important; */
}

.main-img {
  width: 100%;
  height: 400px;
}

.form-check-input[type=radio]:after {
  padding: 0.4rem;
}

@media (max-width:768px) {
  .home {
    height: auto;
  }
}

@media (max-width:575px) {
  .home {
    height: auto;
  }

  .card {
    margin-left: 25%;
    margin-right: 25%;
  }
}

/* == */
.products {
  padding-top: 70px;
}

.p-img {
  width: 100%;
  height: 180px;
}

.products-p .card {
  box-shadow: 0 10px 20px rgb(7, 7, 7);
  border: none !important;

}

.price {
  display: flex;
  justify-content: space-between;
}

.products-p .card .overlay {
  position: absolute;
  z-index: 9997;
  bottom: 0;
  background: #04292e;
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-left: -8px;
}

.products-p .card:hover .overlay {
  opacity: 1;
}

.brand {
  height: 250px;
}

.desc {
  height: 100vh;
  background: #04292e;
}

.side-img {
  height: 300px;
  margin: 50px;
}

.desc h1 {
  color: #fff;
}

.desc h3 {
  color: #fff;
}

.desc p {
  color: #fff;
}

footer {
  height: 70vh;
  padding: 30px 0;
  background-color: azure;
  width: 100%;
  margin: auto 0;
  display: flex;
  opacity: 0.8;
  bottom: 0px;
}

@media (max-width: 860px) {
  footer {
    height: fit-content;
    padding: 30px 0;
    background-color: azure;
    width: 100%;
    margin: auto 0;
    display: flex;
    opacity: 0.8;
    bottom: 0px;
  }
}

.foot-img {
  width: 50%;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.copy {
  background-color: antiquewhite;
  opacity: 1 !important;
}

footer div h2 {
  color: #000;
}


footer div h2:hover {
  text-decoration: none;
  color: rgb(69, 63, 143);
}

footer ul {
  list-style-type: none;
}

footer ul li {
  font-size: 26px;
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

footer ul li a {

  color: #000;
}

footer ul li a:hover {
  text-decoration: none;
  color: rgb(69, 63, 143);
}

.products-p .btn {
  padding: 8px 20px;
}

.inp {
  display: flex;
  justify-content: space-between;

}

.products .form-group {
  width: 300px;


}

.products .form-control {
  border: 3px solid rgb(9, 219, 72) !important;

}

.products .form-control:focus {

  box-shadow: none;

}

.details {
  padding: 100px 0;
}

.p-im {
  width: 100%;
  height: 350px;
}

/* .cart {
   padding: 75px 0; 
} */

.cart .card {
  box-shadow: 0 10px 20px rgb(2, 58, 2);
  border: none !important;

}

.cart-img {
  height: 300px;
}

.cartbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartbox p {
  font-size: 20px;
  font-weight: 600;
}

.payment {
  padding: 75px 0;
  overflow-y: scroll;
}

.t-img {
  width: 75px;
  height: 65px;
}

.table {
  font-size: 25px;
}

.address {
  padding: 100px 0;
}

.address .card {
  box-shadow: 0 10px 20px rgb(135, 205, 238);
  border: none !important;
  padding: 10px;
}

.or-img {
  width: 100px;
  height: 80px;
}

.login {
  padding: 75px 0;
}

.social-outer-box {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(8, 8, 8);
  border-radius: 250px;
  transform: scale(1.0);
  transition: all 0.4s ease;
}

.social-outer-box:hover {
  transform: scale(0.9);
}

.social {
  max-width: 26px;
  padding-top: 10px;
  padding-left: 12px;
}

.social-fb {
  padding-top: 9px;
  padding-left: 14px;
  max-width: 22px;
}

.socails {
  display: flex;
  align-items: center;
  gap: 10px
}

.black-box {
  height: 20vh;
  padding: 30px 0px;
  background-color: black;
  line-height: 80px;
}

.copyright {
  color: white;
  line-height: 25px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-top: 2.5vh;
}

.scrollmenu {
  background-color: #eee;
  overflow: scroll;
  white-space: nowrap;
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}

.prev {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938188/left-arrow_rlxamy.png') left center no-repeat;
  height: 54px;
  position: absolute;
  top: 880px;
  width: 27px;
  z-index: 1000;
  left: 5%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
}

.next {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938220/right-arrow_zwe9sf.png') right center no-repeat;
  height: 54px;
  position: absolute;
  top: 880px;
  width: 27px;
  z-index: 1000;
  right: 5%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
}

.prev:hover,
.next:hover {
  opacity: 0.5;
}

@media (max-width:990px) {
  .prev {
    top: 950px;
  }

  .next {
    top: 950px;
  }
}

@media (max-width:765px) {
  .prev {
    top: 1250px;
  }

  .next {
    top: 1250px;
  }
}

.banner-content {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
}

.order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background-color: #fff;
  transition: .5s ease;
  padding: 20px 0px 20px 0px;
}

.order table th,
td {
  font-size: 20px;
}

.order>.btn-light,
.order>.btn {
  font-size: 10px;
}